# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#OUTPUT FILES
job_curnagl.sh
job.sh
run_curnagl.sh
run.sh
useful_functions/Watson.py
useful_functions/DKI.py
useful_functions/overlapping_spheres_analysis.py
useful_functions/waveform.py
useful_functions/plot_swelling_direction.py
useful_functions/time_dependence_analysis.py
useful_functions/SMI.py
useful_functions/read_trajectories.py

#OUTPUT FOLDERS
*output*
*vscode*
*__pycache__*


*.cache*
*build*
*perf*
*cmake*

MC-DC_Simulator